.cardHeader {
  background: transparent !important;
  padding: 1rem;
}

.cardTopic {
  font-size: var(--app-regular-secondary-font-size) !important;
  font-weight: var(--app-semi-bold-font-weight) !important;
  color: var(--app-primary-font-color) !important;
  margin-bottom: 0px !important;
}

.cardHorizontalLine {
  background: #c4c4c4 !important;
  margin-bottom: 0px;
  margin-top: 0px;
}